# Ignorer les fichiers dans data/raw/
data/raw/*.csv

# Ignorer les données générées ou traitées
data/processed/*

# Ignorer les fichiers de log
*.log

# Ignorer les environnements virtuels Python
venv/

# Ignorer les caches Python
__pycache__/

# Ignorer le fichier de configuration
.env

# Ignorer les fichiers Visual Studio Code
.vscode/

# Ignorer les fichiers temporaires
*.tmp
*.swp

# Ignorer les sauvegardes
*.bak
*.old

# Ignorer le fichier DS_Store (macOS uniquement)
.DS_Store

# Ignorer les caches et métadonnées DVC
#.dvc/

# Ignorer les dossiers crées par MLflow
mlruns/
mlartifacts/

# Ignorer les dossiers crées par Airflow
logs/
plugins/

# Ignorer les fichiers que l'on ne présentera pas pour la démo
modify_film_titles.py